html {
  background-color: lightgray;
}
body {
  padding: 10px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.flex-container {
  max-width: 980px;
  min-width: 300px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.anuncio {
  width: 260px;
  background-color: white;
  margin: 10px 10px 0 0;
  padding: 10px;
}

.thumbnail {
  max-width: 200px;
  max-height: 200px;
}
